//
//  Secrets.template.xcconfig
//  BigBlueMarbleTask
//
//  Created by Nicolas Augustowski on 5/26/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TMDB_API_TOKEN = ""
